<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dentist Welcome Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
            th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
        <h1>Your patients:</h1>


        <table>
            <tr>
                <th>Patient name</th>
                <th>Check treatment</th>
                <th>Edit patient info</th>
                <th>Delete patient</th>
            </tr>
            <tr th:each="patientname : ${patientnames}">
                <td th:text="${patientname}"></td>        
                <!-- <td><a href="@{editPatient/{id}(id=${treatment.patient.id})}">Edit patient info</a></td> 
                <td th:text="${treatment.tooth.toothname}"></td>            
                <td><a href="/treatmentEdit" class="btn btn-success">Add treatment info</a></td>--> 
            
                <td><a th:href="@{/seePatientDetails}" class="btn btn-success">See info</a></td>
                <!--Choose patient:
                <input type="radio" value="${patient.username}" name="answer"
                            th:text="${patient.username}">
               
                <td><a href="@{/treatment/{id}(id=${patient.id})}"></a></td>
                -->

                <td sec:authorize="hasAuthority('ADMIN')"><a
                    th:href="@{/editPatient/{id}(id=${patientId})}">Edit</a></td>
            <td
                sec:authorize="hasAuthority('ADMIN')"><a
                    th:href="@{/delete/{id}(id=${patientId})}"
                    class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
<br>
        <!--Tähän kuuluisi oikeasti laittaa esim "/checkmessages" tms.-->
        <a href="/orderconfirmation" 
        class="btn btn-success">Check treatment requests</a>

        </table>


    </body>
</html>