<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dentist Welcome Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Your tooth info</h1>
        <table>
            <p th:each="tooth : ${teeth}">
                <input type="radio" value="${tooth.id}" name="answer"
                    th:text="${tooth.toothname}">
            </p>
            <button type="submit">Submit</button>

        </table>
    </body>
</html>