<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dentist Welcome Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1> <h1>Add treatment info</h1>

            <p>Patient Name: <span th:text="${patient.username}"></span></p>

            <!--(pid=${patient.patientId})-->
            <form action="#" th:object="${treatment}"
                th:action="@{/savetreatment}"
                method="post">
                <input type="hidden" name="pid"
                    th:value="${patient.patientId}" />
                <input type="hidden" name="chosenTooth"
                    th:value="${tooth.toothId}" />

                <label for="toothList">Tooth</label>
                <select id="toothList" th:field="*{tooth}"
                    class="form-control">
                    <option th:each="tooth: ${teeth}"
                        th:value="${tooth.toothId}"
                        th:text="${tooth.toothname}"></option>
                </select>
                <div style="clear: both; display: block; height: 10px;"></div>
                <input type="hidden" th:field="*{patient}" />
                <input type="hidden" name="patientId"
                    th:value="${patient.patientId}" />
                <input type="hidden" name="chosenTooth"
                    th:value="${tooth.toothId}" />
                <!-- <input type="hidden" name="username"
                    th:value="$patient.username" /> -->

                <div>Add description of treatment

                    <!-- <span th:text="${patient.patientId}"></span>-->
                    <p>
                        <label for="toothInfo">Description:</label>
                        <input type="text" th:field="*{toothInfo}" />
                    </p>
                </div>

                <input type="submit" value="Save" />

            </form>
        </body>
    </html>