<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dentist Welcome Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="#" th:object="${tooth}" th:action="@{/savetreatment}"
            method="post">
            <h3>Add treatment info for tooth: </h3>
            <div>
                <form th:object="${tooth}" th:action="@{save}" action="#"
                    method="post">
                    <label for="toothname">Tooth name</label>
                    <input type="radio"
                        th:text="${tooth.toothname} + ' ' + ${tooth.treatedBefore}"
                        th:value="${tooth}">Tooth

                    <input type="text" id="fname"
                        th:field="*{tooth.toothname}" />
                    <button type="submit">Submit</button>
                </form>

            </div>
        </form>
    </body>
</html>

<!--
            <select id="toothList" th:field="*{toothname}"
                class="form-control">
                <option th:each="tooth: ${categories}"
                    th:value="${category.categoryId}"
                    th:text="${category.name}"></option>
            </select>
            <p>
                <label for="toothInfo">A description of treatment:</label>
                <input type="text" th:field="*{toothInfo}" />
            </p>
            <input type="submit" value="Save" />
        </form>

    </body>
-->
