<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dentist Welcome Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1> <h1>Add treatment info</h1>

            <form action="#" th:object="${treatment}"
                th:action="@{/savetreatment}"
                method="post">

                <label for="toothList">Tooth</label>
                <select id="toothList" th:field="*{tooth}"
                    class="form-control">
                    <option th:each="tooth: ${teeth}"
                        th:value="${tooth.toothId}"
                        th:text="${tooth.toothname}"></option>
                </select>
                <div style="clear: both; display: block; height: 10px;"></div>

                <p>Add description of treatment
                    <!-- <span sec:authentication="name"></span>--></p>
                <p>
                    <label for="toothInfo">Description:</label>
                    <input type="text" th:field="*{toothInfo}" />
                </p>

                <input type="submit" value="Save" />

            </form>
        </body>
    </html>