<!DOCTYPE HTML>
<!--
    Halusin lääkärille ja asiakkaalle eri alkunäkymät. Yritin alun perin luoda "/index", sivun, jossa piilotettuja osia.
    Tämä osoittautui kuitenkin todella epäkäytännölliseksi. Kysyin neuvoa organisointiin ChatGPT:ltä. Neuvona oli tehdä erillinen index-sivu molemmille.
    Siispä user_index ja admin_index eriytetty ChatGPT:n neuvon (3.4.24 klo 10:56) mukaan
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dentist Welcome Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Front Teeth Dental</h1>
        <!--
        <h3>Hello <span sec:authentication="name"></span>!</h3>-->

        <h3>Dental procedure list</h3>
        <table>
            <tr th:each="tooth : ${teeth}">
                <td th:text="${tooth.toothname}"></td>

            </tr>
        </table>
        <a href="/requestTreatment"
            class="btn btn-success">Ask for treatment</a>

        <div class="col-md-4" style="padding:10px 0">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out"
                    class="btn btn-sm btn-danger" />
            </form>
        </div>

    </body>
</html>